#home{
    padding-top: 15px;
    padding-bottom: 15px;
}
.project-card{
    height: 200px;
}

.bugs-card{
    height: 200px;
}

.recent-bugs-card{
    height: 100%;
}

.account-card{
    height: 200px;
}

.row{
    padding-top: 15px;
    padding-bottom: 15px;
}

.first-row{
    padding-top: 0px;
}

.last-row{
    padding-bottom: 0px;
}

.one-element-col{
    padding-bottom: 0px;
}
@media (max-width: 990px){
    .one-element-col{
        padding-bottom: 30px;
    }
}

.one-element-row{
    padding-bottom: 0px;
}
@media (max-width: 767px){
    .one-element-row{
        padding-bottom: 30px;
    }
}