body {
	background-color: #f2f2f2;
}

#app {
	padding: 0;
}

#header {
	margin-bottom: 15px;
}

#footer {
	margin-top: 15px;
}

.divider {
	margin-bottom: 15px;
	border: 1px solid rgba(192, 192, 192, 0.5);
	border-radius: 5px;
}

.sticky {
	position: sticky;
	top: 0px;
	z-index: 2;
}

.date-time-container {
	margin-bottom: 1em;
}
.date-time-container p {
	margin: 0;
}

th {
	position: sticky;
	top: 0;
}
